*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color:hotpink;
}

.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 23%;
    box-shadow: 0 0 4px 3px pink;
    text-align: center;
    padding: 1.5em;
    margin: 2em;
}
.title{
    font-size: 1.3rem;
    
}
.brand{
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;
}
.price{
    font-size: 1rem;
    color: blue;
}